.appCustomHeaderFooter {  
  
    .bottom {  
      height:10px;  
      text-align:center;  
      line-height:0.5;  
      font-weight:bold;  
      display: flex;  
      align-items: center;  
      justify-content: center; 
      font-size: 10px; 
    }  
  }  